<div id="landing">
<div class="row">

  <div id="big-logo">
  <img src="<%= image_path("logo-with-text.png") %>" alt="logo-img" style="width:681;height:229px"></img>
  </div>

  <div id="root-note" class="col-xs-6">
      <div class="box">

          <div class="box-icon">
            <span class="fa fa-4x fa-check"></span>
          </div>

          <div class="info">
            <label for="title"></label>
              <h1 class="text-center"><div name="title" id="title" class="editable">Dulynote is...</div></h1>
              <label for="body"></label>
                <div name="body" id="body" class="editable root-note-body">
                  <ul><li><h3><b><b>A minimalist note-taking app</b>. </b>Designed for easily writing, storing, and organizing your notes.</h3></li><li><h3><b><b>Built with a dyna<b>mic user inter<b>fa<b>ce</b></b></b></b>. </b>Try clicking on the title or this body to begin editing.</h3></li><li><h3><b><b>Free and open source</b><b>. </b></b>You'll find a link to the Github repository below.</h3></li></ul><h3>Sound interesting? There's a lot more to see. Click the demo button for a quick intro or create an account to get started. </h3>
                </div>
          </div>

      </div>
  </div>

  <div id="root-buttons" class="col-xs-6">

      <ul class="root-buttons-list col-xs-offset-2">

        <li>
          <form action="<%= session_url %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input class="form-control" type="hidden" name="user[email]" value='user@dulynote.com' id="user_email">
            <input class="form-control" type="hidden" name="user[password]" value='vat9oryqbo0ater' id="user_password">
            <button type="submit" class="btn btn-danger"><i class="fa fa-lg fa-heart fa-fw"></i>&nbsp; Try a demo</button>
          </form>
        </li>

        <li><a href="<%= new_user_url %>" class="btn btn-success"><i class="fa fa-lg fa-plus fa-fw"></i>&nbsp; Create an account</a></li>
        <li><a href="<%= new_session_url %>" class="btn btn-primary"><i class="fa fa-lg fa-key fa-fw"></i>&nbsp; Log In</a></li>

      </ul>



  </div>

      <!-- About Section -->
  <hr>
  <section class="success" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <p>Dulynote is made with Ruby on Rails, Backbone, and love. Created by Wahab Sheikh in 2015. </p>
                  <a href="https://github.com/wahabs/Dulynote" class="btn" id="btn-github"><i class="fa fa-lg fa-github fa-fw"></i>&nbsp; Find it on Github.</a>

              </div>
          </div>
      </div>
  </section>

</div>
</div>
