<div class="row">

  <div class="notebook-select col-xs-4 col-xs-offset-8">
    <label for="notebook">Set Notebook</label>
      <select class="form-control" id="notebook" name="notebook_id">
        <% notebooks.each(function(notebook) { %>
          <option
            value="<%= notebook.id %>"
            <%= (note.get("notebook_id") === notebook.id) ? "selected" : "" %>>
          <%= notebook.escape("title") %>
          </option>
        <% }) %>
      </select>
  </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-icon">
                <span class="fa fa-4x fa-<%= note.escape("sticker") %>">
                </span>
            </div>

            <div class="info">

              <label for="title"></label>
                <h1 class="text-center"><div name="title" id="title" class="editable"><%= note.get("title") %></div></h1>
                <label for="body"></label>
                  <div name="body" id="body" class="editable"><%= note.get("body") %></div>
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal -->
<button type="button" class="btn sticker-button" data-toggle="modal" data-target="#stickerModal"></button>

<!-- Modal -->
<div class="modal fade" id="stickerModal" tabindex="-1" role="dialog" aria-labelledby="stickerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h4 class="modal-title" id="myModalLabel">Choose a sticker!</h4></center>
      </div>

      <div class="modal-body">
          <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-primary"><input type="radio" value="star"><span><i class="fa fa-lg fa-star"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="music"><span><i class="fa fa-lg fa-music"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="bookmark"><span><i class="fa fa-lg fa-bookmark"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="calendar"><span><i class="fa fa-lg fa-calendar"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="camera"><span><i class="fa fa-lg fa-camera"></i></span></label>

            <label class="btn btn-primary"><input type="radio" value="cutlery"><span><i class="fa fa-lg fa-cutlery"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="diamond"><span><i class="fa fa-lg fa-diamond"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="flag"><span><i class="fa fa-lg fa-flag"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="gamepad"><span><i class="fa fa-lg fa-gamepad"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="magic"><span><i class="fa fa-lg fa-magic"></i></span></label>

            <label class="btn btn-primary"><input type="radio" value="globe"><span><i class="fa fa-lg fa-globe"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="heart"><span><i class="fa fa-lg fa-heart"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="leaf"><span><i class="fa fa-lg fa-leaf"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="moon-o"><span><i class="fa fa-lg fa-moon-o"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="paper-plane"><span><i class="fa fa-lg fa-paper-plane"></i></span></label>

            <label class="btn btn-primary"><input type="radio" value="money"><span><i class="fa fa-lg fa-money"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="plane"><span><i class="fa fa-lg fa-plane"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="quote-left"><span><i class="fa fa-lg fa-quote-left"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="smile-o"><span><i class="fa fa-lg fa-smile-o"></i></span></label>
            <label class="btn btn-primary"><input type="radio" value="trophy"><span><i class="fa fa-lg fa-trophy"></i></span></label>
          </div>
      </div>

    </div>
  </div>
</div>


<br><br><br><br>

<div class="note-tags"></div>
