<div class="note-tags"></div>

<form id="note-edit">

  <label for="title"></label>
    <h2><div name="title" id="title" class="editable"><%= note.get("title") %></div></h2>

  <label for="body"></label>
    <div name="body" id="body" class="editable"><%= note.get("body") %></div><br><br>

  <div class="notebook-select">
    <label for="notebook">Notebook</label>
      <select id="notebook" name="notebook_id">
        <% notebooks.each(function(notebook) { %>
          <option
            value="<%= notebook.id %>"
            <%= (note.get("notebook_id") === notebook.id) ? "selected" : "" %>>
          <%= notebook.escape("title") %>
          </option>
        <% }) %>
      </select>
  </div>

  <input type="submit" value=<%= note.isNew() ? "Create!" : "Update" %>>
</form>
