<div class="note-tags"></div>

<label for="title"></label>
  <h2><div name="title" id="title" class="editable"><%= note.get("title") %></div></h2>

<button class="action-bold"><b>B</b></button>
<button class="action-italic"><i>I</i></button>
<button class="action-underline"><u>U</u></button>
<button class="action-unformat">✘</button>

<!-- Convert these font sizing buttons to a dropdown -->
<button class="action-h1">36</button>
<button class="action-h2">30</button>
<button class="action-h3">24</button>
<button class="action-h4">18</button>
<button class="action-p">15</button>

<button class="action-ol">Ordered List</button>
<button class="action-ul">Unordered List</button>
<button class="action-pre">Preformatted</button>

<label for="body"></label>
  <div name="body" id="body" class="editable"><%= note.get("body") %></div>



  <div class="notebook-select">
    <label for="notebook">Notebook</label>
      <select id="notebook" name="notebook_id">
        <% notebooks.each(function(notebook) { %>
          <option
            value="<%= notebook.id %>"
            <%= (note.get("notebook_id") === notebook.id) ? "selected" : "" %>>
          <%= notebook.escape("title") %>
          </option>
        <% }) %>
      </select>
  </div>

  <button id="update-note"><%= note.isNew() ? "Create!" : "Update" %></button>
