<div class="row">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-icon">
                <span class="fa fa-4x fa-star"></span>
            </div>

            <div class="info">

              <label for="title"></label>
                <h1 class="text-center"><div name="title" id="title" class="editable"><%= note.get("title") %></div></h1>
                <label for="body"></label>
                  <div name="body" id="body" class="editable"><%= note.get("body") %></div>
            </div>
        </div>
    </div>
</div>

<div class="notebook-select">
  <label for="notebook">Notebook</label>
    <select id="notebook" name="notebook_id">
      <% notebooks.each(function(notebook) { %>
        <option
          value="<%= notebook.id %>"
          <%= (note.get("notebook_id") === notebook.id) ? "selected" : "" %>>
        <%= notebook.escape("title") %>
        </option>
      <% }) %>
    </select>
</div>

<div class="note-tags"></div>
